
body, html {
  height: 100%;
}

#header_title {
  margin: 50px auto 0 auto;
  width: 900px;
  padding: 20px;
  border-radius: 50px;
  background-color: rgb(117, 197, 197);
  font-family: 'Oswald', sans-serif;
  font-size: 70px;
  font-weight: bolder;
}

#restaurants-in-area {
  font-family: 'Kalnia', serif;
}

#local-food {
  font-family: 'Kalnia', serif;
}

#user_input_section {
  height:150px;
  width: 600px;
  background-color: rgb(117, 197, 197);
  border-radius: 50px;
  margin: 30px auto 0 auto;
  font-family: 'Kalnia', serif;
  height: 100%;
  }

.container {
  width: 500px;
  height: 500px;
  margin: 50px auto;
  border-radius: 50px;
  background-color: rgb(117, 197, 197);
  color: black;
  overflow: auto;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  line-height: 80px;
}

.container::-webkit-scrollbar {
  display: none;
}

.container h3 {
  font-size: larger;
  text-decoration: underline;
}
